.media-control-anim-enter {
    opacity: 1;
  }
  
  .media-control-anim-enter-active {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }
  .media-control-anim-enter-done {
    opacity: 0;
  }
  
  .media-control-anim-exit {
    opacity: 0;
  }
  
  .media-control-anim-exit-active {
    opacity: 1;
    transition: opacity 50ms ease-in;
  }
  .media-control-anim-exit-done {
      opacity: 1;
  }

  